<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bernacelik.akillioda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Baby Room"
        android:theme="@style/Theme.AkilliOda">

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DashboardActivity" />

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>





    </application>

</manifest>
